
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}

/* header section styles css */

header{
    
    width: 1530px;
    height: 698px;
    background-image: url(assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.banner-container{
    margin: 0 auto;
    width: 1200px;
    height: 698px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-container h1{
    
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 25px;
}
.banner-container p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 35px;
    opacity: 0.7;


}

.banner-container button{
    border-radius: 8px;
    padding: 22px 25px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

/* web-dev-section styles */

.web-dev-section{
    width: 1250px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding-top:80px ;
    margin-top: 75px;
    padding-bottom: 30px;
    
}

.web-dev-section-head{
    width: 909px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.web-dev-section-head h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;

}

.web-dev-section-head p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: .7;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

.web-dev-section-details{
    width: 1050px;
    height: 360px;
    margin: 0 auto;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin-bottom: 50px;
}



.web-content{
    width: 60%;
    padding-left: 20px;
    
}
.web-content h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    
}
.web-content p{
    color: rgb(13, 19, 33);
    opacity: .7;
    font-size: 16px;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 70px;
    
}
.web-content button{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    
    
}

.web-image{
    width: 30%;
}

/* inspiration-secion style */

.inspiration-secion{
    width: 1250px;
    height: 800px;
    margin: 0 auto;
    margin-top: 100px;
}

.inspiration-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 909px;
    height: 115px;
    margin: 0 auto;
}

.inspiration-content h2{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}
.inspiration-content p{
    color: rgb(13, 19, 33);
    opacity: .7;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 25px;
}

.inspiration-video{
    margin-top: 70px;
    width: 1250px;
    height: 600px;
    text-align: center;
}
.inspiration-video iframe{
    width: 90%;
    height: 600px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    
    
}

