
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}

/* header section styles css */

header{
    
    width: 1530px;
    height: 698px;
    background-image: url(assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.banner-container{
    margin: 0 auto;
    width: 1200px;
    height: 698px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-container h1{
    
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 25px;
}
.banner-container p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 35px;
    opacity: 0.7;


}

.banner-container button{
    border-radius: 8px;
    padding: 22px 25px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
}

